.md { max-width: 90em }
#header-img-a:hover { background: url(http://f.thumbs.redditmedia.com/A9sqlu5S4wsmOPBG.png) 0 2px }
#header-img-a:hover #header-img { visibility: hidden }
#header .tabmenu { visibility: hidden }
#header .tabmenu li { visibility: hidden }
.titlebox .usertext-body .md h6 {
    display: block;
    position: absolute;
    top: 136px;
    left: 10px;
    background-color: #193064;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: left;
    padding: 8px 13px 26px 13px;
    margin: 13px;
    border-radius: 5px;
}
h6 a:link { color: #F2E972 }
h6 a:visited { color: #F2E972 }
.content { padding-top: 2px }
.titlebox form { position: static }
.side .md p>em {
    display: inline-block;
    padding: 5px;
    background: #F6E69F;
    border: 1px solid orange;
}
.side .md p>em>strong { font-style: italic }
.arrow.down {
    visibility: hidden;
    display: none;
}
.comment .arrow.down {
    visibility: visible;
    display: block;
}
form.grayed,
form.grayed ~ ul.flat-list.buttons { display: none }
p.tagline>a.expand:first-child+em:after,
div.collapsed>a.expand:first-child+em:after {
    visibility: visible;
    font-size: x-small;
    font-weight: bold;
    content: "Comment removed by user";
}
p.tagline>a.expand:first-child+em,
div.collapsed>a.expand:first-child+em {
    visibility: hidden;
    font-size: 0;
}
div.collapsed>a.expand:first-child+em+time+a.expand,
div.collapsed>a.expand:first-child+em+time+em+a.expand { display: none }
.commentarea { position: static }
.commentarea .usertext .usertext-edit:after {
    content: "Note: Please use spoiler tag if you want to discuss/suggest recommended games, picks & bans or something else games related.";
    display: block;
    text-align: center;
    margin-top: -5px;
    padding: 4px;
    background-color: #def;
    border: 1px solid #59c;
    font-size: 11px;
    font-weight: bold;
}
div.sidebox.create { display: none }
div.content { margin-top: 50px }
.md table {
    border: 1px solid #444;
    font-family: Arial,Helvetica,Sans-serif;
    margin: 10px 0px;
}
.side .md table { width: 100% }
.md table * { border: 10px }
.md table th { text-align: center }
.md table tr:nth-child(even),
.md table thead { background-color: #f6f6f6 }
.md table td,
.md table th {
    border-right: 1px solid #888;
    padding: 4px 8px;
}
.md th {
    white-space: nowrap;
    background-color: #444;
    color: whitesmoke;
    padding: 6px 10px;
    border: 1px solid #444;
}
.subscribers .word { display: none }
.subscribers .number::after { content: " subscribers" }
.users-online .word { display: none }
.users-online .number::after { content: " viewers online now" }
.flairselector .customizer { display: none!important }
.flair {
    border: none!important;
    padding: 0px;
    background: url(http://e.thumbs.redditmedia.com/5dLLTLgltVEUDsrF.png) no-repeat -9999px -9999px;
    display: inline-block;
}
.flair-red {
    background-position: 0 0;
    width: 15px;
    height: 15px;
}
.flair-yellow {
    background-position: 0 -65px;
    width: 15px;
    height: 14px;
}
.content a[href$="/spoiler"],
.commentarea a[href$="/spoiler"],
a[href$="/spoiler"] {
    background: none repeat scroll 0 0 #000000!important;
    color: #000000!important;
    cursor: default;
}
.content a[href$="/spoiler"]:hover,
.commentarea a[href$="/spoiler"]:hover,
a[href$="/spoiler"]:hover { color: #FFFFFF!important }
.linkflair-ongoing .linkflairlabel {
    padding: 2px 3px 3px 23px;
    text-transform: uppercase;
    margin-left: 1em;
    background: #fafafa url(http://a.thumbs.redditmedia.com/ibdhwkQhV6nD5rV6.png) 3px 2px no-repeat;
    color: #777;
    border-color: #ddd;
}
.linkflair-finished .linkflairlabel {
    padding: 2px 3px 3px 23px;
    text-transform: uppercase;
    margin-left: 1em;
    background: #fafafa url(http://b.thumbs.redditmedia.com/m30UetLIw0O0KC9U.png) 3px 2px no-repeat;
    color: #777;
    border-color: #ddd;
}
.linkflair-featured .linkflairlabel {
    padding: 2px 3px 3px 23px;
    text-transform: uppercase;
    margin-left: 1em;
    background: #fafafa url(http://a.thumbs.redditmedia.com/ibdhwkQhV6nD5rV6.png) 3px 2px no-repeat;
    color: #777;
    border-color: #ddd;
}
.linkflair-incomplete .linkflairlabel {
    padding: 2px 3px 3px 23px;
    text-transform: uppercase;
    margin-left: 1em;
    background: #fafafa url(http://c.thumbs.redditmedia.com/X_4wFwr7AjVVWZEV.png) 3px 2px no-repeat;
    color: #777;
    border-color: #ddd;
}
.linkflair-upcoming .linkflairlabel {
    padding: 2px 3px 3px 23px;
    text-transform: uppercase;
    margin-left: 1em;
    background: #fafafa url(http://c.thumbs.redditmedia.com/kiYYSukHM_qZxWj2.png) 3px 2px no-repeat;
    color: #777;
    border-color: #ddd;
}
.linkflair-red a.title { color: red!important }
.linkflair-featured a.title { color: red!important }
.linkflair-finishedfeatured .linkflairlabel {
    padding: 2px 3px 3px 23px;
    text-transform: uppercase;
    margin-left: 1em;
    color: #777;
    border-color: #ddd;
}
.linkflair-zzrealignore .linkflairlabel {
    padding: 2px 3px 3px 23px;
    text-transform: uppercase;
    margin-left: 1em;
    background: #fafafa url(http://b.thumbs.redditmedia.com/m30UetLIw0O0KC9U.png) 3px 2px no-repeat;
    color: #777;
    border-color: #ddd;
}
.submit .morelink a {
    content: "";
    font-size: 0;
}
.submit .morelink a:before {
    content: "Submit new VoDs post";
    font-size: 14px;
}
a[href$="star"] {
    width: 16px;
    height: 16px;
    content: "";
    background-image: url(http://e.thumbs.redditmedia.com/KqDKQFMaWaHZPjMv.png);
    position: relative;
    display: inline-block;
    cursor: default;
}
a[href$="warning"] {
    width: 16px;
    height: 16px;
    content: "";
    background-image: url(http://a.thumbs.redditmedia.com/_o2q0IXRY-tmQj2Z.png);
    position: relative;
    display: inline-block;
    cursor: default;
}
.side h4,
.side h5,
.side h6 { height: 0 }
.side a[href*="#icon-"] {
    color: #000;
    cursor: default;
}
.side a[href*="#icon-"]:hover { text-decoration: none }
.side a[href*="#icon-"]::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: "";
    margin: 0 5px -1px 0;
    background: url(http://d.thumbs.redditmedia.com/AZIs-ZJ2jwUNMIJc.png) 30px 30px no-repeat;
}
.side a[href="#icon-exclamation"]::before { background-position: -16px -32px }
.side a[href="#icon-information"]::before { background-position: -54px -51px }
.side a[href="#icon-lightbulb"]::before { background-position: -16px -51px }
.side a[href="#icon-comments"]::before { background-position: -35px -89px }
.side a[href="#icon-unhappy"]::before { background-position: -73px -89px }
.side a[href="#icon-check"]::before { background-position: -73px -51px }
.side a[href="#icon-clock"]::before { background-position: -35px -51px }
.side a[href="#icon-cross"]::before { background-position: -35px -70px }
.side a[href="#icon-smile"]::before { background-position: -54px -89px }
.side a[href="#icon-error"]::before { background-position: -54px -32px }
.side a[href="#icon-note"]::before { background-position: -54px -70px }
.side a[href="#icon-star"]::before { background-position: -73px -32px }
.side a[href="#icon-help"]::before { background-position: -16px -70px }
.side a[href="#icon-time"]::before { background-position: -73px -70px }
.side a[href="#icon-bell"]::before { background-position: -35px -32px }
.side a[href="#icon-eye"]::before { background-position: -16px -89px }
.edited-timestamp::after {
    content: " (" attr(title) ")";
    font-size: 90%;
}
.listing-page .flair { display: none }
#header {
    background: #02021A url(http://f.thumbs.redditmedia.com/qqcNmj2Ukjh8wLbM.png) no-repeat;
    background-position: 5px 20px;
    height: 146px;
}
#header-bottom-left { height: 20px }
.redditname a {
    text-indent: -1px;
    margin-top: 30px;
    color: white;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-style: italic;
    font-weight: normal;
}
#header-img-a,
.redditname a,
.tabmenu {
    display: inline;
    float: left;
}
.tabmenu {
    position: relative;
    top: 100%;
    margin-top: 47px!important;
}
#header-bottom-left span.pagename a {
    display: block;
    height: 125px;
    width: 228px;
    margin-left: -20px;
    margin-top: 2px;
    background: url(http://b.thumbs.redditmedia.com/LZhP88Sq1aT79D-m.png) no-repeat scroll 0 0 transparent;
    font-size: 0!important;
}
.thing .thumbnail[href*="iem_cologne"] {
    background: url(http://a.thumbs.redditmedia.com/7uvGiFvLaTDix4AH.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="gfinity"] {
    background: url(http://c.thumbs.redditmedia.com/JpXweP_4u_ZnaHgh.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="mobafire"] {
    background: url(http://b.thumbs.redditmedia.com/-APKtPlqtrx4EtZy.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="gpl"] {
    background: url(http://a.thumbs.redditmedia.com/e8fk---8nbzkW-HT.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="lcs"] {
    background: url(http://e.thumbs.redditmedia.com/ULOrPL6eQ9dkU3fF.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="iem"] {
    background: url(http://a.thumbs.redditmedia.com/7uvGiFvLaTDix4AH.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="mlg"] {
    background: url(http://f.thumbs.redditmedia.com/mVssFJkYSJD_YoX_.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="starswar"] {
    background: url(http://c.thumbs.redditmedia.com/Hg1fWhbQUS7yMYbP.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="ign"] {
    background: url(http://d.thumbs.redditmedia.com/DJLDCrwdtt5cPK9E.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="ipl"] {
    background: url(http://d.thumbs.redditmedia.com/DJLDCrwdtt5cPK9E.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="regionals"] {
    background: url(http://e.thumbs.redditmedia.com/k1B18kTYJVwNzR1d.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="tales"] {
    background: url(http://e.thumbs.redditmedia.com/cReYSc5zUGGfsEV4.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="lone"] {
    background: url(http://c.thumbs.redditmedia.com/qTf5SctdGEKauXob.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="2_championship"] {
    background: url(http://e.thumbs.redditmedia.com/k1B18kTYJVwNzR1d.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="world_championships"] {
    background: url(http://e.thumbs.redditmedia.com/k1B18kTYJVwNzR1d.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="2_korean"] {
    background: url(http://e.thumbs.redditmedia.com/k1B18kTYJVwNzR1d.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="2_european"] {
    background: url(http://e.thumbs.redditmedia.com/k1B18kTYJVwNzR1d.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="2_south"] {
    background: url(http://e.thumbs.redditmedia.com/k1B18kTYJVwNzR1d.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="na_regionals_com"] {
    background: url(http://e.thumbs.redditmedia.com/k1B18kTYJVwNzR1d.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="pandoratv_ogn"] {
    background: url(http://b.thumbs.redditmedia.com/PuFFv0bi-hJ3Klla.png) no-repeat scroll transparent;
    background-position: 0px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="ogn_champ"] {
    background: url(http://b.thumbs.redditmedia.com/PuFFv0bi-hJ3Klla.png) no-repeat scroll transparent;
    background-position: 0px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="ogn_hot"] {
    background: url(http://b.thumbs.redditmedia.com/PuFFv0bi-hJ3Klla.png) no-repeat scroll transparent;
    background-position: 0px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="ogn_ol"] {
    background: url(http://b.thumbs.redditmedia.com/PuFFv0bi-hJ3Klla.png) no-repeat scroll transparent;
    background-position: 0px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="ogn_lol"] {
    background: url(http://b.thumbs.redditmedia.com/PuFFv0bi-hJ3Klla.png) no-repeat scroll transparent;
    background-position: 0px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="shangai"] {
    background: url(http://e.thumbs.redditmedia.com/oHpKAd1BSaoePdbR.png) no-repeat scroll transparent;
    background-position: -3px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="monster"] {
    background: url(http://f.thumbs.redditmedia.com/0tt7nMTY9sJ09c6M.png) no-repeat scroll transparent;
    background-position: 5px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="lpl"] {
    background: url(http://c.thumbs.redditmedia.com/bF6v0T6LaHuhQMhP.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 7px;
}
.thing .thumbnail[href*="nlb_spring"] {
    background: url(http://a.thumbs.redditmedia.com/LsWUirO3J5BeLG2B.png) no-repeat scroll transparent;
    background-position: 0px;
    padding: 0px 0 0 0px;
}
.thing .thumbnail[href*="world"] {
    background: url(http://a.thumbs.redditmedia.com/ftalBi1wSSIf4AVH.png) no-repeat scroll transparent;
    background-position: 0;
    padding: 0px 0 0 0px;
}
.sprite-atn {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.sprite-anexis {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.sprite-azure {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
.sprite-c9 {
    background-position: 0 -198px;
    width: 38px;
    height: 16px;
}
.sprite-cjb {
    background-position: 0 -264px;
    width: 38px;
    height: 16px;
}
.sprite-clg {
    background-position: 0 -330px;
    width: 38px;
    height: 16px;
}
.sprite-coast {
    background-position: 0 -396px;
    width: 38px;
    height: 16px;
}
.sprite-col {
    background-position: 0 -462px;
    width: 38px;
    height: 16px;
}
.sprite-crs {
    background-position: 0 -528px;
    width: 38px;
    height: 16px;
}
.sprite-cw {
    background-position: 0 -594px;
    width: 38px;
    height: 16px;
}
.sprite-db {
    background-position: 0 -660px;
    width: 38px;
    height: 16px;
}
.sprite-dbl {
    background-position: 0 -726px;
    width: 38px;
    height: 16px;
}
.sprite-dig {
    background-position: 0 -792px;
    width: 38px;
    height: 16px;
}
.sprite-eg {
    background-position: 0 -858px;
    width: 38px;
    height: 16px;
}
.sprite-esuba {
    background-position: 0 -924px;
    width: 38px;
    height: 20px;
}
.sprite-eternity {
    background-position: 0 -994px;
    width: 30px;
    height: 20px;
}
.sprite-fid {
    background-position: 0 -1064px;
    width: 38px;
    height: 16px;
}
.sprite-fnatic {
    background-position: 0 -1130px;
    width: 38px;
    height: 16px;
}
.sprite-gambit {
    background-position: 0 -1196px;
    width: 38px;
    height: 16px;
}
.sprite-gaming {
    background-position: 0 -1262px;
    width: 38px;
    height: 15px;
}
.sprite-ggu {
    background-position: 0 -1327px;
    width: 38px;
    height: 16px;
}
.sprite-gia {
    background-position: 0 -1393px;
    width: 38px;
    height: 16px;
}
.sprite-im {
    background-position: 0 -1459px;
    width: 38px;
    height: 16px;
}
.sprite-ld {
    background-position: 0 -1525px;
    width: 38px;
    height: 16px;
}
.sprite-marn {
    background-position: 0 -1591px;
    width: 38px;
    height: 16px;
}
.sprite-millenium {
    background-position: 0 -1657px;
    width: 38px;
    height: 16px;
}
.sprite-mrn {
    background-position: 0 -1723px;
    width: 38px;
    height: 16px;
}
.sprite-mym {
    background-position: 0 -1789px;
    width: 38px;
    height: 16px;
}
.sprite-nip {
    background-position: 0 -1855px;
    width: 38px;
    height: 16px;
}
.sprite-pain {
    background-position: 0 -1921px;
    width: 38px;
    height: 16px;
}
.sprite-qg {
    background-position: -88px 0;
    width: 38px;
    height: 16px;
}
.sprite-roughnex {
    background-position: -88px -66px;
    width: 35px;
    height: 20px;
}
.sprite-sk {
    background-position: -88px -136px;
    width: 38px;
    height: 16px;
}
.sprite-skt {
    background-position: -88px -202px;
    width: 38px;
    height: 16px;
}
.sprite-tap {
    background-position: -88px -268px;
    width: 38px;
    height: 16px;
}
.sprite-ts {
    background-position: -88px -334px;
    width: 38px;
    height: 16px;
}
.sprite-tsb {
    background-position: -88px -400px;
    width: 38px;
    height: 16px;
}
.sprite-tsm {
    background-position: -88px -466px;
    width: 38px;
    height: 16px;
}
.sprite-ves {
    background-position: -88px -532px;
    width: 38px;
    height: 16px;
}
.sprite-vul {
    background-position: -88px -598px;
    width: 38px;
    height: 16px;
}
a[href="#atn"]:after,
a[href="#anexis"]:after,
a[href="#azure"]:after,
a[href="#c9"]:after,
a[href="#cjb"]:after,
a[href="#clg"]:after,
a[href="#coast"]:after,
a[href="#col"]:after,
a[href="#crs"]:after,
a[href="#cw"]:after,
a[href="#db"]:after,
a[href="#dbl"]:after,
a[href="#dig"]:after,
a[href="#eg"]:after,
a[href="#esuba"]:after,
a[href="#eternity"]:after,
a[href="#fid"]:after,
a[href="#fnatic"]:after,
a[href="#gambit"]:after,
a[href="#gaming"]:after,
a[href="#ggu"]:after,
a[href="#gia"]:after,
a[href="#im"]:after,
a[href="#ld"]:after,
a[href="#marn"]:after,
a[href="#millenium"]:after,
a[href="#mrn"]:after,
a[href="#mym"]:after,
a[href="#nip"]:after,
a[href="#pain"]:after,
a[href="#gq"]:after,
a[href="#roughnex"]:after,
a[href="#sk"]:after,
a[href="#skt"]:after,
a[href="#tap"]:after,
a[href="#ts"]:after,
a[href="#tsb"]:after,
a[href="#tsm"]:after,
a[href="#ves"]:after,
a[href="#vul"]:after {
    content: "";
    width: 36px;
    height: 20px;
    background: transparent url(http://e.thumbs.redditmedia.com/pK2HR-2H_0bCj1z4.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
.side h6+ul a[href*="/wiki/"] {
    width: 28px;
    height: 20px;
    background: transparent url(http://e.thumbs.redditmedia.com/pK2HR-2H_0bCj1z4.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}
a[href*="#atn"]:after,
.side h6+ul li a[href$="/wiki/atn"] { background-position: 0px 0px }
a[href="#anexis"]:after,
.side h6+ul li a[href$="/wiki/anexis"] { background-position: 0px -66px }
a[href="#azure"]:after,
.side h6+ul li a[href$="/wiki/azure"] { background-position: 0px -132px }
a[href="#c9"]:after,
.side h6+ul li a[href$="/wiki/c9"] { background-position: 0px -198px }
a[href="#cjb"]:after,
.side h6+ul li a[href$="/wiki/cjb"] { background-position: 0px -264px }
a[href="#clg"]:after,
.side h6+ul li a[href$="/wiki/clg"] { background-position: 0px -330px }
a[href="#coast"]:after,
.side h6+ul li a[href$="/wiki/coast"] { background-position: 0px -396px }
a[href="#col"]:after,
.side h6+ul li a[href$="/wiki/col"] { background-position: 0px -462px }
a[href="#crs"]:after,
.side h6+ul li a[href$="/wiki/crs"] { background-position: 0px -528px }
a[href="#cw"]:after,
.side h6+ul li a[href$="/wiki/cw"] { background-position: 0px -594px }
a[href="#db"]:after,
.side h6+ul li a[href$="/wiki/db"] { background-position: 0px -660px }
a[href="#dbl"]:after,
.side h6+ul li a[href$="/wiki/dbl"] { background-position: 0px -726px }
a[href="#dig"]:after,
.side h6+ul li a[href$="/wiki/dig"] { background-position: 0px -792px }
a[href="#eg"]:after,
.side h6+ul li a[href$="/wiki/eg"] { background-position: 0px -858px }
a[href="#esuba"]:after,
.side h6+ul li a[href$="/wiki/esuba"] { background-position: 0px -924px }
a[href="#eternity"]:after,
.side h6+ul li a[href="/wiki/eternity"] { background-position: 0px -994px }
a[href="#fid"]:after,
.side h6+ul li a[href$="/wiki/fid"] { background-position: 0px -1064px }
a[href="#fnatic"]:after,
.side h6+ul li a[href$="/wiki/fnatic"] { background-position: 0px -1130px }
a[href="#gambit"]:after,
.side h6+ul li a[href$="/wiki/gambit"] { background-position: 0px -1196px }
a[href="#gaming"]:after,
.side h6+ul li a[href$="/wiki/gaming"] { background-position: 0px -1262px }
a[href="#ggu"]:after,
.side h6+ul li a[href$="/wiki/ggu"] { background-position: 0px -1327px }
a[href="#gia"]:after,
.side h6+ul li a[href$="/wiki/gia"] { background-position: 0px -1393px }
a[href="#im"]:after,
.side h6+ul li a[href$="/wiki/im"] { background-position: 0px -1459px }
a[href="#ld"]:after,
.side h6+ul li a[href$="/wiki/ld"] { background-position: 0px -1525px }
a[href="#marn"]:after,
.side h6+ul li a[href$="/wiki/marn"] { background-position: 0px -1591px }
a[href="#millenium"]:after,
.side h6+ul li a[href$="/wiki/millenium"] { background-position: 0px -1657px }
a[href="#mrn"]:after,
.side h6+ul li a[href$="/wiki/mrn"] { background-position: 0px -1723px }
a[href="#mym"]:after,
.side h6+ul li a[href$="/wiki/mym"] { background-position: 0px -1789px }
a[href="#nip"]:after,
.side h6+ul li a[href$="/wiki/nip"] { background-position: 0px -1855px }
a[href="#pain"]:after,
.side h6+ul li a[href$="/wiki/pain"] { background-position: 0px -1921px }
a[href="#qg"]:after,
.side h6+ul li a[href$="/wiki/qg"] { background-position: -88px 0px }
a[href="#roughnex"]:after,
.side h6+ul li a[href$="/wiki/roughnex"] { background-position: -88px -66px }
a[href="#sk"]:after,
.side h6+ul li a[href$="/wiki/sk"] { background-position: -88px -136px }
a[href="#skt"]:after,
.side h6+ul li a[href$="/wiki/skt"] { background-position: -88px -202px }
a[href="#tap"]:after,
.side h6+ul li a[href$="/wiki/tap"] { background-position: -88px -268px }
a[href="#ts"]:after,
.side h6+ul a[href$="/wiki/ts"] { background-position: -88px -334px }
a[href="#tsb"]:after,
.side h6+ul li a[href$="/wiki/tsb"] { background-position: -88px -400px }
a[href*="#tsm"]:after,
.side h6+ul li a[href$="/wiki/tsm"] { background-position: -88px -466px }
a[href="#ves"]:after,
.side h6+ul li a[href$="/wiki/ves"] { background-position: -88px -532px }
a[href="#vul"]:after,
.side h6+ul li a[href$="/wiki/vul"] { background-position: -88px -598px }
.icons-aaa {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.icons-mouz {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.icons-sns {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
.icons-tcm {
    background-position: 0 -198px;
    width: 38px;
    height: 16px;
}
.icons-wizards {
    background-position: 0 -264px;
    width: 38px;
    height: 16px;
}
a[href="#aaa"]:after,
a[href="#mouz"]:nth-of-type(n):after,
a[href="#sns"]:nth-of-type(n):after,
a[href="#tcm"]:nth-of-type(n):after,
a[href="#wizards"]:nth-of-type(n):after {
    content: "";
    width: 36px;
    height: 20px;
    background: url(http://b.thumbs.redditmedia.com/G4zD6392jVFZu6Ua.png) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#aaa"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#mouz"]:nth-of-type(n):after { background-position: 0px -66px }
a[href="#sns"]:nth-of-type(n):after { background-position: 0px -132px }
a[href="#tcm"]:nth-of-type(n):after { background-position: 0px -198px }
a[href="#wizards"]:nth-of-type(n):after { background-position: 0px -264px }
.icons-azure {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.icons-dbl {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.icons-fid {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
.icons-qg {
    background-position: 0 -198px;
    width: 38px;
    height: 16px;
}
.icons-tap {
    background-position: 0 -264px;
    width: 38px;
    height: 16px;
}
.icons-ts {
    background-position: 0 -330px;
    width: 38px;
    height: 16px;
}
.icons-tsb {
    background-position: 0 -396px;
    width: 38px;
    height: 16px;
}
.icons-ves {
    background-position: 0 -462px;
    width: 38px;
    height: 16px;
}
a[href="#azure"]:nth-of-type(n):after,
a[href="#dbl"]:nth-of-type(n):after,
a[href="#fid"]:nth-of-type(n):after,
a[href="#qg"]:nth-of-type(n):after,
a[href="#tap"]:nth-of-type(n):after,
a[href="#ts"]:nth-of-type(n):after,
a[href="#tsb"]:nth-of-type(n):after,
a[href="#ves"]:nth-of-type(n):after {
    content: "";
    width: 36px;
    height: 20px;
    background: url(http://d.thumbs.redditmedia.com/1UIHNl224-YGauWE.png) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#azure"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#dbl"]:nth-of-type(n):after { background-position: 0px -66px }
a[href="#fid"]:nth-of-type(n):after { background-position: 0px -132px }
a[href="#qg"]:nth-of-type(n):after { background-position: 0px -198px }
a[href="#tap"]:nth-of-type(n):after { background-position: 0px -264px }
a[href="#ts"]:nth-of-type(n):after { background-position: 0px -330px }
a[href="#tsb"]:nth-of-type(n):after { background-position: 0px -396px }
a[href="#ves"]:nth-of-type(n):after { background-position: 0px -462px }
.side h6+ul {
    list-style-type: none;
    position: absolute;
    top: 15px;
    right: 70px;
    z-index: 99;
    margin: 0;
    padding: 3em 0 3em 3em;
}
.side h6+ul li { display: block }
.side h6+ul li ~ li { display: none }
.side h6+ul li:first-child {
    position: absolute;
    right: -60px;
}
.side h6+ul li:first-child a {
    display: block;
    height: 60px;
    width: 45px;
    background: transparent url(http://c.thumbs.redditmedia.com/cX-JOynPpUy0nvEV.png) no-repeat 0 0px;
}
.side h6+ul li:first-child a:hover { opacity: .8 }
.side h6+ul li a[href="/r/LoLeventVoDs"]:before { content: normal }
.side h6+ul li a {
    display: inline-block;
    width: 30px;
    height: 25px;
    line-height: 0px;
    margin: 0 0px;
}
.side .md h6+ul li { background-color: transparent!important }
.allstar-america {
    background-position: 0 0;
    width: 16px;
    height: 11px;
}
.allstar-china {
    background-position: 0 -61px;
    width: 16px;
    height: 11px;
}
.allstar-europe {
    background-position: 0 -122px;
    width: 16px;
    height: 11px;
}
.allstar-korea {
    background-position: 0 -183px;
    width: 16px;
    height: 11px;
}
.allstar-sea {
    background-position: 0 -244px;
    width: 16px;
    height: 11px;
}
a[href="#america"]:nth-of-type(n):after,
a[href="#china"]:nth-of-type(n):after,
a[href="#europe"]:nth-of-type(n):after,
a[href="#korea"]:nth-of-type(n):after,
a[href="#sea"]:nth-of-type(n):after {
    content: "";
    width: 16px;
    height: 11px;
    background: url(http://c.thumbs.redditmedia.com/gvgwp2PPTfFlmws8.png) no-repeat scroll 16px 11px transparent;
    display: inline-block;
    vertical-align: 1%;
    cursor: default!important;
}
a[href="#america"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#china"]:nth-of-type(n):after { background-position: 0px -61px }
a[href="#europe"]:nth-of-type(n):after { background-position: 0px -122px }
a[href="#korea"]:nth-of-type(n):after { background-position: 0px -183px }
a[href="#sea"]:nth-of-type(n):after { background-position: 0px -244px }
.teams-dp {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.teams-dru {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.teams-ete {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
.teams-hc {
    background-position: 0 -198px;
    width: 38px;
    height: 16px;
}
.teams-rg {
    background-position: 0 -264px;
    width: 38px;
    height: 16px;
}
a[href="#dp"]:nth-of-type(n):after,
a[href="#dru"]:nth-of-type(n):after,
a[href="#ete"]:nth-of-type(n):after,
a[href="#hc"]:nth-of-type(n):after,
a[href="#rg"]:nth-of-type(n):after {
    content: "";
    width: 36px;
    height: 20px;
    background: url(http://e.thumbs.redditmedia.com/aegP3IE6U3mIBP7R.png) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#dp"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#dru"]:nth-of-type(n):after { background-position: 0px -66px }
a[href="#ete"]:nth-of-type(n):after { background-position: 0px -132px }
a[href="#hc"]:nth-of-type(n):after { background-position: 0px -198px }
a[href="#rg"]:nth-of-type(n):after { background-position: 0px -264px }
.listing-page .tabmenu li a[href="http://www.reddit.com/promoted/"],
.listing-page .tabmenu li a[href="http://www.reddit.com/saved/"],
.listing-page .tabmenu li a[href="http://www.reddit.com/r/LoLeventVoDs/controversial/"],
.listing-page .tabmenu li a[href="http://www.reddit.com/r/LoLeventVoDs/"],
.listing-page .tabmenu li a[href="http://www.reddit.com/r/LoLeventVoDs/rising/"],
.listing-page .tabmenu li a[href="http://www.reddit.com/r/LoLeventVoDs/top/"],
a#viewImagesButton { display: none }
.titlebox blockquote {
    border: 1px solid #AAA;
    text-shadow: 0 1px 0 white;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
}
.sidecontentbox .content,
.linkinfo,
.footer {
    background: transparent!important;
    font-size: small;
    border: 1px solid #ccc;
    margin: 7px 0 0;
    border-radius: 10px;
}
.link.last-clicked { overflow: hidden }
.titlebox h1 a { display: none }
.titlebox {
    padding: 10px;
    background: transparent!important;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 10px;
}
.titlebox .bottom { border: 0 }
.titlebox form.toggle { background-color: transparent!important }
.titlebox .usertext {
    margin: 15px 0;
    line-height: 120%;
}
.titlebox .usertext .md {
    margin: 0;
    padding: 0;
    overflow: visible;
}
.titlebox .usertext .md h2 {
    font-weight: bold;
    color: #000!important;
}
.titlebox .usertext .md>h1 {
    font-size: large;
    height: 15px;
    line-height: 15px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #193064!important;
    width: 287px;
    color: #fff!important;
    padding: 5px 10px;
    padding-left: 20px;
    padding-right: 0;
    margin-right: 13px;
    margin-left: -18px;
    border-bottom: 1px solid #193064!important;
    margin-bottom: 5px;
    margin-top: 10px;
    z-index: 100;
}
.titlebox .usertext .md>h1:after {
    display: block;
    content: "";
    border-color: transparent #2B628D transparent transparent!important;
    border-style: solid;
    border-width: 15px;
    height: 0;
    width: 0;
    position: absolute;
    z-index: -1;
    margin-left: -35px;
    margin-top: -10px;
}
.side .md h3 { margin-bottom: 8px }
.side .md h3+p+table { display: none }
.side .md h3+p:hover+table,
.side .md h3+p+table:hover { display: table }
.side .md h3+p {
    position: absolute;
    margin-top: -25px;
    height: 30px;
    width: 294px;
}
.side { z-index: -100 }
.side .titlebox .md h3+ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 3px;
}
.md { overflow: visible }
.titlebox .md h3,
.titlebox .md h3 a,
.titlebox h1,
.titlebox h1 a,
.titlebox .md h2,
.titlebox .md h2 a,
.titlebox .md h4,
.titlebox .md h4 a { color: #000 }
.sidecontentbox a.helplink { margin-right: 5px }
.icon-menu a { background: transparent }
.titlebox .md h3+ul { display: none }
.titlebox .md h3:hover+ul,
.titlebox .md ul:hover { display: block }
.titlebox .md ul li:hover { background-color: #f7fbfc }
.titlebox .md h3,
.titlebox .md h2,
.titlebox .md h4 {
    background-color: #ccc!important;
    width: 280px;
    height: 26px;
    line-height: 26px;
    font-weight: normal;
    font-size: 12px;
    padding-left: 20px;
    margin-top: 4px;
    margin-left: -11px;
}
.titlebox .md h3:after,
.titlebox .md h2:after,
.titlebox .md h4:after { margin-bottom: 10px }
.titlebox .md h3:before {
    content: "+";
    color: #000;
    padding-right: 5px;
}
.side .md table th {
    background: #193064;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #193064;
    padding: .2em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    font-size: 11px;
}
.side .usertext table {
    width: 280px;
    color: #0a5a36!important;
    font-size: 11px;
    box-shadow: 1px 1px 1px #193064;
    margin-top: 0;
}
.side .usertext table a { color: #0a5a36 }
.side .usertext table a:hover { text-decoration: underline }
.md tr:nth-of-type(odd) {
    background: #fff;
    color: #363636;
}
.md tr:nth-of-type(even) {
    background: #EDEDED;
    color: #363636;
}
.md table tr:hover { background-color: #bdff8b }
.side .md [href="http://www.reddit.com/r/LoLeventVoDs/comments/1m2188/mobafire_challenger_series_season_1_playoffs/"] {
    position: absolute;
    display: block;
    color: white!important;
    z-index: 99;
    top: 37px;
    left: 300px;
    background-color: #245275;
    color: #fff;
    text-align: left;
    margin: 15px;
    border-radius: 8px;
    width: 50px;
    padding: 7px 0px 7px 0px;
    background-repeat: no-repeat;
}
.side .md [href="http://www.reddit.com/r/LoLeventVoDs/comments/1ibxqe/lpl_2013_summer_season/"] {
    position: absolute;
    display: block;
    color: white!important;
    z-index: 99;
    top: 37px;
    left: 350px;
    background-color: #245275;
    color: #fff;
    text-align: left;
    margin: 15px;
    border-radius: 8px;
    width: 50px;
    padding: 7px 0px 7px 0px;
    background-repeat: no-repeat;
}
.side .leavecontributor-button,
table .keyNavAnnotation { display: none }
.side a[href="http://goo.gl/3kRqh"] {
    display: inline-block;
    text-align: center;
    height: 32px;
    width: 32px;
    background: url(http://d.thumbs.redditmedia.com/gzXcCoSORlx3eio9.png) no-repeat 0 0;
}
.side a[href="http://goo.gl/YrFC9"] {
    display: inline-block;
    text-align: center;
    height: 32px;
    width: 32px;
    background: url(http://b.thumbs.redditmedia.com/ip8rkXuXMIzjEAVy.png) no-repeat 0 0;
}
.side a[href="http://goo.gl/BDoQm"] {
    display: inline-block;
    text-align: center;
    height: 32px;
    width: 32px;
    background: url(http://f.thumbs.redditmedia.com/8y9tLEacO9lpR7zw.png) no-repeat 0 0;
}
.teams-ig {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.teams-omg {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.teams-pe {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
.teams-we {
    background-position: 0 -198px;
    width: 38px;
    height: 16px;
}
a[href="#ig"]:nth-of-type(n):after,
a[href="#omg"]:nth-of-type(n):after,
a[href="#pe"]:nth-of-type(n):after,
a[href="#we"]:nth-of-type(n):after {
    content: "";
    width: 36px;
    height: 20px;
    background: url(http://b.thumbs.redditmedia.com/dlgsD5foCeFZtGrC.png) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#ig"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#omg"]:nth-of-type(n):after { background-position: 0px -66px }
a[href="#pe"]:nth-of-type(n):after { background-position: 0px -132px }
a[href="#we"]:nth-of-type(n):after { background-position: 0px -198px }
.icons-aware {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.icons-fxo {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
a[href="#aware"]:nth-of-type(n):after,
a[href="#fxo"]:nth-of-type(n):after {
    content: "";
    width: 36px;
    height: 20px;
    background: url(http://b.thumbs.redditmedia.com/K1hKYif_109yr77m.png) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#aware"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#fxo"]:nth-of-type(n):after { background-position: 0px -66px }
.flags-belgium {
    background-position: 0 0;
    width: 16px;
    height: 11px;
}
.flags-checzrepublic {
    background-position: 0 -61px;
    width: 16px;
    height: 11px;
}
.flags-denmark {
    background-position: 0 -122px;
    width: 16px;
    height: 11px;
}
.flags-estonia {
    background-position: 0 -183px;
    width: 16px;
    height: 11px;
}
.flags-finland {
    background-position: 0 -244px;
    width: 16px;
    height: 11px;
}
.flags-france {
    background-position: 0 -305px;
    width: 16px;
    height: 11px;
}
.flags-germany {
    background-position: 0 -366px;
    width: 16px;
    height: 11px;
}
.flags-lithuania {
    background-position: 0 -427px;
    width: 16px;
    height: 11px;
}
.flags-netherlands {
    background-position: 0 -488px;
    width: 16px;
    height: 11px;
}
.flags-norway {
    background-position: 0 -549px;
    width: 16px;
    height: 11px;
}
.flags-poland {
    background-position: 0 -610px;
    width: 16px;
    height: 11px;
}
.flags-russia {
    background-position: 0 -671px;
    width: 16px;
    height: 11px;
}
.flags-scotland {
    background-position: 0 -732px;
    width: 16px;
    height: 11px;
}
.flags-spain {
    background-position: 0 -793px;
    width: 16px;
    height: 11px;
}
.flags-sweden {
    background-position: 0 -854px;
    width: 16px;
    height: 11px;
}
a[href="#belgium"]:nth-of-type(n):after,
a[href="#checzrepublic"]:nth-of-type(n):after,
a[href="#denmark"]:nth-of-type(n):after,
a[href="#estonia"]:nth-of-type(n):after,
a[href="#finland"]:nth-of-type(n):after,
a[href="#france"]:nth-of-type(n):after,
a[href="#germany"]:nth-of-type(n):after,
a[href="#lithuania"]:nth-of-type(n):after,
a[href="#netherlands"]:nth-of-type(n):after,
a[href="#norway"]:nth-of-type(n):after,
a[href="#poland"]:nth-of-type(n):after,
a[href="#russia"]:nth-of-type(n):after,
a[href="#scotland"]:nth-of-type(n):after,
a[href="#spain"]:nth-of-type(n):after,
a[href="#sweden"]:nth-of-type(n):after {
    content: "";
    width: 16px;
    height: 11px;
    background: url(http://b.thumbs.redditmedia.com/HjGOehoUFBuo8T6C.png) no-repeat scroll 16px 11px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#belgium"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#checzrepublic"]:nth-of-type(n):after { background-position: 0px -61px }
a[href="#denmark"]:nth-of-type(n):after { background-position: 0px -122px }
a[href="#estonia"]:nth-of-type(n):after { background-position: 0px -183px }
a[href="#finland"]:nth-of-type(n):after { background-position: 0px -244px }
a[href="#france"]:nth-of-type(n):after { background-position: 0px -305px }
a[href="#germany"]:nth-of-type(n):after { background-position: 0px -366px }
a[href="#lithuania"]:nth-of-type(n):after { background-position: 0px -427px }
a[href="#netherlands"]:nth-of-type(n):after { background-position: 0px -488px }
a[href="#norway"]:nth-of-type(n):after { background-position: 0px -549px }
a[href="#poland"]:nth-of-type(n):after { background-position: 0px -610px }
a[href="#russia"]:nth-of-type(n):after { background-position: 0px -671px }
a[href="#scotland"]:nth-of-type(n):after { background-position: 0px -732px }
a[href="#spain"]:nth-of-type(n):after { background-position: 0px -793px }
a[href="#sweden"]:nth-of-type(n):after { background-position: 0px -854px }
.mcs-awg {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.mcs-colA {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.mcs-crsA {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
.mcs-dnl {
    background-position: 0 -198px;
    width: 38px;
    height: 16px;
}
.mcs-ggLA {
    background-position: 0 -264px;
    width: 38px;
    height: 16px;
}
.mcs-nwe {
    background-position: 0 -330px;
    width: 38px;
    height: 16px;
}
.mcs-rxg {
    background-position: 0 -396px;
    width: 38px;
    height: 16px;
}
.mcs-tbd {
    background-position: 0 -462px;
    width: 38px;
    height: 16px;
}
.mcs-ts {
    background-position: 0 -528px;
    width: 38px;
    height: 16px;
}
.mcs-tt {
    background-position: 0 -594px;
    width: 38px;
    height: 16px;
}
.mcs-ttd {
    background-position: 0 -660px;
    width: 38px;
    height: 16px;
}
.mcs-wzb {
    background-position: 0 -726px;
    width: 38px;
    height: 16px;
}
.mcs-xts {
    background-position: 0 -792px;
    width: 38px;
    height: 16px;
}
.mcs-io {
    background-position: 0 -855px;
    width: 38px;
    height: 16px;
}
a[href="#awg"]:nth-of-type(n):after,
a[href="#colA"]:nth-of-type(n):after,
a[href="#crsA"]:nth-of-type(n):after,
a[href="#dnl"]:nth-of-type(n):after,
a[href="#ggLA"]:nth-of-type(n):after,
a[href="#nwe"]:nth-of-type(n):after,
a[href="#rxg"]:nth-of-type(n):after,
a[href="#tbd"]:nth-of-type(n):after,
a[href="#ts"]:nth-of-type(n):after,
a[href="#tt"]:nth-of-type(n):after,
a[href="#ttd"]:nth-of-type(n):after,
a[href="#wzb"]:nth-of-type(n):after,
a[href="#xts"]:nth-of-type(n):after,
a[href="#iodd"]:nth-of-type(n):after {
    content: "";
    width: 38px;
    height: 16px;
    background: url(http://c.thumbs.redditmedia.com/-VtzI4vWmEeL863V.png) no-repeat scroll 38px 16px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#awg"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#colA"]:nth-of-type(n):after { background-position: 0px -66px }
a[href="#crsA"]:nth-of-type(n):after { background-position: 0px -132px }
a[href="#dnl"]:nth-of-type(n):after { background-position: 0px -198px }
a[href="#ggLA"]:nth-of-type(n):after { background-position: 0px -264px }
a[href="#nwe"]:nth-of-type(n):after { background-position: 0px -330px }
a[href="#rxg"]:nth-of-type(n):after { background-position: 0px -396px }
a[href="#tbd"]:nth-of-type(n):after { background-position: 0px -462px }
a[href="#ts"]:nth-of-type(n):after { background-position: 0px -528px }
a[href="#tt"]:nth-of-type(n):after { background-position: 0px -594px }
a[href="#ttd"]:nth-of-type(n):after { background-position: 0px -660px }
a[href="#wzb"]:nth-of-type(n):after { background-position: 0px -726px }
a[href="#xts"]:nth-of-type(n):after { background-position: 0px -792px }
a[href="#iodd"]:nth-of-type(n):after { background-position: 0px -855px }
.side a[href="http://redd.it/1mdzso"] {
    display: block;
    margin-left: -10px;
    margin-top: -4px;
    height: 100px;
    width: 300px;
    background-image: url(http://e.thumbs.redditmedia.com/PIn2gAu36q3f9MMX.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.side a[href="http://redd.it/1mdzso"]:hover { background-position: 0 -100px }
.streams-azubu1 {
    background-position: 0 0;
    width: 120px;
    height: 22px;
}
.streams-azubu2 {
    background-position: 0 -72px;
    width: 120px;
    height: 22px;
}
.streams-twitch1 {
    background-position: 0 -144px;
    width: 100px;
    height: 33px;
}
.streams-twitch2 {
    background-position: 0 -227px;
    width: 100px;
    height: 33px;
}
.streams-youtube1 {
    background-position: 0 -310px;
    width: 75px;
    height: 27px;
}
.streams-youtube2 {
    background-position: 0 -387px;
    width: 75px;
    height: 27px;
}
.side .md [href="http://www.youtube.com/watch?v=jWZgBCexH2s"] {
    position: absolute;
    display: block;
    color: white!important;
    z-index: 99;
    top: 47px;
    left: 300px;
    color: #fff;
    text-align: left;
    margin: 15px;
    width: 75px;
    height: 27px;
    border-radius: 8px;
    padding: 7px 0px 7px 0px;
    background-image: url(http://c.thumbs.redditmedia.com/7gmYSWwgBqNBV3RP.png);
    background-repeat: no-repeat;
    background-position: 0 -310px;
    opacity: 0.6;
}
.side a[href="http://www.youtube.com/watch?v=jWZgBCexH2s"]:hover {
    background-position: 0 -310px;
    opacity: 1.0;
}
.side .md [href="http://www.twitch.tv/riotgames"] {
    position: absolute;
    display: block;
    color: white!important;
    z-index: 99;
    top: 46px;
    left: 390px;
    color: #fff;
    text-align: left;
    margin: 15px;
    width: 100px;
    height: 33px;
    border-radius: 8px;
    padding: 7px 0px 7px 0px;
    background-image: url(http://c.thumbs.redditmedia.com/7gmYSWwgBqNBV3RP.png);
    background-repeat: no-repeat;
    background-position: 0 -144px;
    opacity: 0.6;
}
.side a[href="http://www.twitch.tv/riotgames"]:hover {
    background-position: 0 -144px;
    opacity: 1.0;
}
.side .md [href="http://www.azubu.tv/channel/detail.do?cn_id=2125982449001&menu=1"] {
    position: absolute;
    display: block;
    color: white!important;
    z-index: 99;
    top: 52px;
    left: 510px;
    color: #fff;
    text-align: left;
    margin: 15px;
    width: 120px;
    height: 22px;
    border-radius: 8px;
    padding: 7px 0px 7px 0px;
    background-image: url(http://c.thumbs.redditmedia.com/7gmYSWwgBqNBV3RP.png);
    background-repeat: no-repeat;
    background-position: 0 0px;
    opacity: 0.6;
}
.side a[href="http://www.azubu.tv/channel/detail.do?cn_id=2125982449001&menu=1"]:hover {
    background-position: 0 0px;
    opacity: 1.0;
}
.side .md [href="#top"] {
    position: absolute;
    display: block;
    color: #e5e5e5!important;
    z-index: 99;
    top: 15px;
    left: 300px;
    color: #fff;
    text-align: left;
    margin: 15px;
    height: 27px;
    border-radius: 8px;
    padding: 7px 0px 7px 0px;
}
.side .md [href="https://www.youtube.com/watch?v=tam2mPPsQqs"] {
    position: absolute;
    display: block;
    color: #e5e5e5!important;
    z-index: 99;
    top: 100px;
    left: 300px;
    color: #fff;
    text-align: left;
    margin: 15px;
    height: 27px;
    border-radius: 8px;
    padding: 7px 0px 7px 0px;
}
.side .md [href="http://www.youtube.com/watch?v=3cImB8CNPpA"] {
    position: absolute;
    display: block;
    color: #e5e5e5!important;
    z-index: 99;
    top: 100px;
    left: 450px;
    color: #fff;
    text-align: left;
    margin: 15px;
    height: 27px;
    border-radius: 8px;
    padding: 7px 0px 7px 0px;
}
.worlds-bears {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.worlds-min {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.worlds-ozone {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
.worlds-royal {
    background-position: 0 -198px;
    width: 38px;
    height: 16px;
}
.worlds-sword {
    background-position: 0 -264px;
    width: 38px;
    height: 16px;
}
a[href="#bears"]:nth-of-type(n):after,
a[href="#min"]:nth-of-type(n):after,
a[href="#ozone"]:nth-of-type(n):after,
a[href="#royal"]:nth-of-type(n):after,
a[href="#sword"]:nth-of-type(n):after {
    content: "";
    width: 36px;
    height: 20px;
    background: url(http://d.thumbs.redditmedia.com/xqLi5cBVy6KYHx7K.png) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#bears"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#min"]:nth-of-type(n):after { background-position: 0px -66px }
a[href="#ozone"]:nth-of-type(n):after { background-position: 0px -132px }
a[href="#royal"]:nth-of-type(n):after { background-position: 0px -198px }
a[href="#sword"]:nth-of-type(n):after { background-position: 0px -264px }
.wcg-jas {
    background-position: 0 0;
    width: 38px;
    height: 16px;
}
.wcg-nsh {
    background-position: 0 -66px;
    width: 38px;
    height: 16px;
}
.wcg-nsw {
    background-position: 0 -132px;
    width: 38px;
    height: 16px;
}
a[href="#jas"]:nth-of-type(n):after,
a[href="#nsh"]:nth-of-type(n):after,
a[href="#nsw"]:nth-of-type(n):after {
    content: "";
    width: 36px;
    height: 20px;
    background: url(http://b.thumbs.redditmedia.com/5Sx14c5rxQCrFTcO.png) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default!important;
}
a[href="#jas"]:nth-of-type(n):after { background-position: 0px 0px }
a[href="#nsh"]:nth-of-type(n):after { background-position: 0px -66px }
a[href="#nsw"]:nth-of-type(n):after { background-position: 0px -132px }
